.chat {
    flex: 2;
    border-left: 1px solid #dddddd35;
    border-right: 1px solid #dddddd35;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: auto;
}

.chat .top {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd35;
    gap: 8px;
    width: 963px;
    height: 62px;
    background-color: #FFFFFF;
}

.chat .top .user {
    display: flex;
    align-items: center;
    gap: 8px;
}

.chat .top .user img {
    width: 60px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.chat .top .user .texts {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chat .top .user .texts span {
    font-size: 18px;
    font-weight: bold;
}

.chat .top .user .texts p {
    font-size: 14px;
    font-weight: 300;
    color: #a5a5a5;
}

.chat .top .icons {
    display: flex;
    gap: 8px;
}

.chat .top .icons img {
    width: 20px;
    height: 20px;
}

.chat .center {
    padding: 20px;
    flex: 1;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #F5F5F5;
}

.chat .center .message {
    max-width: 70%;
    display: flex;
    gap: 20px;
}

.chat .center .message.own {
    align-self: flex-end;
}

.chat .center .message img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.chat .center .message .texts {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chat .center .message .texts p {
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.chat .center .message .texts span {
    font-size: 13px;
}

.chat .bottom {
    padding: 20px;
    display: flex;
    margin-top: auto;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #dddddd35;
    gap: 20px;
    background-color: #F5F5F5;
}

.chat .bottom .chat-form {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.chat .bottom .chat-form input {
    flex: 1;
    background-color: #FFFFFF;
    border: none;
    outline: none;
    color: black;
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 16px;
    height: auto;
}

.chat .bottom .chat-form .emoji img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.chat .bottom .chat-form .emoji {
    position: relative;
}

.chat .bottom .chat-form .emoji .picker {
    position: absolute;
    bottom: 50px;
    left: 0;
}

.chat .bottom .chat-form .sendButton {
    width: fit-content;
    background-color: #5183fe;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}

.start-chat {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.5rem;
    color: #555;
  }
  
